* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #e0ebeb;
}


.header {
    height: 55vh;
    width: 100%;
    background-image: url("./assests/banner-new.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

a:hover {
    color: rgb(173, 108, 29);
}

nav ul {
    display: inline-block;

}

.nav-links ul li {
    display: inline-block;
    padding: 3px;
    margin: 0 9px;
    font-family: "arial";
    width: 99px;
    height: 80px;
    font-size: 13px;
    text-align: center;


}

.header h1 {
    margin-top: 110px;
    position: center;
    font-family: "arial";
}

h1 input {
    margin: 20px;
    width: 250px;
    height: 45px;
    background: white;
    border: none;
    border-radius: 4px;


}

h1 button {
    width: 105px;
    height: 45px;
    border-radius: 4px;
    background: orange;

}

button:hover {
    background: blue;
}



.login ul li {
    display: in
}

.grid-container {

    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: white;
    padding-block-start: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;

}


.grid-item {
    align-items: center;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2, ), 0 6px 20px 0 rgba (0, 0, 0, 0.19);

}

.grid-item p {
    font-size: 13px;
    font-family: arial;
}

.img-link a:hover {
    color: none;
}

font {
    width: 17px;
}


nav ul {
    float: right;
    margin-right: 20px;

}


.grid {
    background: white;
    margin: 17px;
    grid-template-columns: auto auto;
    padding-block-start: 20px;
    padding-block-end: 20px;
    margin-left: 100px;
    margin-right: 100px;


}

.grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin: 0px;

}

.grid-col {

    grid-template-columns: auto;
    padding-top: 10px;
}


.image-add {
    display: left;
}


.one {
    background-color: #483D8B;
    height: 50px;
    width: 734px;
    float: left;
    border: 0px solid black;
    margin-left: 100px;
    border-radius: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2, ), 0 6px 20px 0 rgba (0, 0, 0, 0.19);
}

.two {
    background-color: rgb(173, 108, 29);
    height: 50px;
    width: 395px;
    float: left;
    border: 0px solid black;
    margin-left: 17px;
    border-radius: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2, ), 0 6px 20px 0 rgba (0, 0, 0, 0.19);
}

.col {
    margin-top: 20px;
    grid-template-row: auto auto;
}

.column {
    margin-left: 850px;
    padding-block-start: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2, ), 0 6px 20px 0 rgba (0, 0, 0, 0.19);

}



h3 {
    margin: 0 10px;
    box-align: "center";
    font-family: "arial";
    text-align: center;
    color: white;
}

.p-grid p {

    font-size: 13px;
    font-family: "arial";
    box-align: left;
    color: rgb(112, 66, 66);
}



.newone {

    height: 150px;
    width: 900px;
    float: left;
    border: 0px solid black;
    margin: 0px;
    padding: 0px;
    border-radius: 1px;
}

h2 {
    font-family: "arial";
    margin-left: 0px;
    padding: 20px;


}

.sub1 li a:hover {
    background: white;

}

ul li ul.sub1 {
    min-width: 160px;
    background: #483D8B;
    position: relative;
    display: none;
    text-align: center;
    padding: 12px 16px;
    margin: 0px 0px;



}

ul li:hover ul.sub1 {
    display: block;
    color: white;


}

.sub2 li a:hover {
    background: white;
    ;
}

.sub2 ul li {
    display: block;
    list-style: none;
    box-align: center;
}

ul li ul.sub2 {
    width: 250%;
    background: #483D8B;
    position: relative;
    display: none;
    accent-color: white;

}

ul li:hover ul.sub2 {
    display: block;
    color: white;
}

.sub3 li a:hover {
    background: white;
    block-size: 150px;

}

.sub3 ul li {
    display: block;
    list-style: none;
    box-align: center;
}

ul li ul.sub3 {
    width: 250%;
    background: #483D8B;
    position: relative;
    display: none;
    accent-color: white;

}

ul li:hover ul.sub3 {
    display: block;
    color: white;
}

.sub4 li a:hover {
    background: white;
}

.sub4 ul li {
    display: block;
    list-style: none;
    box-align: center;
}

ul li ul.sub4 {
    width: 250%;
    background: #483D8B;
    position: relative;
    display: none;
    accent-color: white;

}

ul li:hover ul.sub4 {
    display: block;
    color: white;
}

.sub5 li a:hover {
    background: white;
}

.sub5 ul li {
    display: block;
    list-style: none;
    box-align: center;
}

ul li ul.sub5 {
    width: 250%;
    background: #483D8B;
    position: relative;
    display: none;
    accent-color: white;

}

ul li:hover ul.sub5 {
    display: block;
    color: white;
}

h2 {
    font-family: Verdana;
    padding-left: 0px;
}

.grid-container2 {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #243c52;
    width: 100%;
    height: 200px;
    font-family: Verdana;
    list-style: none;


}


.grid-item2 ul li {
    list-style: none;
    margin-top: 10px;

}

.grid-item2 {
    display: flex;
    justify-content: right;
    padding: 5px;


}

.grid-container3 {
    gap: 10px;
    grid-template-columns: auto auto auto auto auto;
    background-color: #243c52;
    width: 100%;
    height: 75%;
    padding-block-start: 15px;

}

.grid-item3 {
    display: inline-grid;
    margin-top: 0px;
}

.grid-container3 p {
    font-size: 10px;
}

.contact {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.grid-item2 ul {
    font-size: 17px;
    color: white;
    font-family: arial;
}

.grid-item2 li {
    font-size: 13px;
    color: white;
}

table th td {
    border: 1px solid black;

}

.first_th {
    background-color: #243c52;
    font-family: arial;
    height: 10px;
    color: white;

}

.first_td td p {
    align-items: right;

}

.second_th {
    background-color: green;
    color: white;
    font-family: arial;

}

.second_th td p {
    align-items: right;
}

.hover1 {
    color: green;
    font-family: arial;
}

.table1 a:hover {
    color: darkgreen;

}

.hover2 {
    color: darkslateblue;

}

.hover3 {
    color: green;
    font-family: arial;

}

.hover4 {
    color: darkslateblue;
}

table {
    background-color: gainsboro;
    box-shadow: 5px 10px 5px #888888;
}

.my_slide iimg {
    display: none;
    vertical-align: middle;
}

.slideshow {
    animation-name: fade;
    animation-duration: 1.5s;
}