* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #e0ebeb;
}


.header {
    height: 55vh;
    width: 100%;
    background-image: url("./assests/banner-new.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

nav ul {
    display: inline-block;

}

nav ul li {
    display: inline-block;
    color: orange;
    font-size: 15px;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "arial";
    width: 100px;
    height: 80px;

}

.header h1 {
    margin-top: 110px;
    position: center;
    font-family: "arial";
}

h1 input {
    margin: 20px;
    width: 250px;
    height: 45px;
    background: white;
    border: none;
    border-radius: 4px;


}

h1 button {
    width: 105px;
    height: 45px;
    border-radius: 4px;
    background: orange;

}

button:hover {
    background: blue;
}

a.active,
a:hover {
    transition: .5s;
    background: orange;
}

.login ul li {
    display: in
}

.grid-container {

    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: white;
    padding-block-start: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;

}

.grid-item {
    align-items: center;
    padding: 20px;

    text-align: center;

}

.grid-item p {
    font-size: 13px;
}


font {
    width: 17px;
}


nav ul {
    float: right;
    margin-right: 20px;

}


.grid {
    background: white;
    margin: 17px;
    grid-template-columns: auto auto;
    padding-block-start: 20px;
    padding-block-end: 20px;
    margin-left: 100px;
    margin-right: 100px;


}

.item-grid {
    display: inline-grid;
    margin-left: 5px;
}



.one {
    background-color: blue;
    height: 50px;
    width: 800px;
    float: left;
    border: 0px solid black;
    margin: 10px;
    border-radius: 1px;
}

.two {
    background-color: orange;
    height: 50px;
    width: 450px;
    float: left;
    border: 0px solid black;
    margin: 10px;
    border-radius: 1px;
}



h3 {
    margin: 0 10px;
    box-align: "center";
    font-family: "arial";
    text-align: center;
    color: white;
}

p {
    font-family: "arial";
    box-align: left;
}

.p-grid p {
    margin-left: 100px;
    padding: 15px;
    font-size: 13px;
}

.newone {

    height: 150px;
    width: 900px;
    float: left;
    border: 0px solid black;
    margin: 0px;
    padding: 0px;
    border-radius: 1px;
}

h2 {
    font-family: "arial";
    margin-left: 100px;
    padding: 20px;

}

.sub1 li a:hover {
    background: white;

}

.sub1 ul li {
    display: block;
    list-style: none;
    box-align: center;
}

ul li ul.sub1 {
    width: 250%;
    padding: 0px;
    margin: 0px;
    background: #483D8B;
    position: relative;
    display: none;
    accent-color: white;
    text-align: center;

}

ul li:hover ul.sub1 {
    display: block;
    color: white;


}

.sub2 li a:hover {
    background: white;
    ;
}

.sub2 ul li {
    display: block;
    list-style: none;
    box-align: center;
}

ul li ul.sub2 {
    width: 250%;
    background: #483D8B;
    position: relative;
    display: none;
    accent-color: white;

}

ul li:hover ul.sub2 {
    display: block;
    color: white;
}

.sub3 li a:hover {
    background: white;
    block-size: 150px;

}

.sub3 ul li {
    display: block;
    list-style: none;
    box-align: center;
}

ul li ul.sub3 {
    width: 250%;
    background: #483D8B;
    position: relative;
    display: none;
    accent-color: white;

}

ul li:hover ul.sub3 {
    display: block;
    color: white;
}

.sub4 li a:hover {
    background: white;
}

.sub4 ul li {
    display: block;
    list-style: none;
    box-align: center;
}

ul li ul.sub4 {
    width: 250%;
    background: #483D8B;
    position: relative;
    display: none;
    accent-color: white;

}

ul li:hover ul.sub4 {
    display: block;
    color: white;
}

.sub5 li a:hover {
    background: white;
}

.sub5 ul li {
    display: block;
    list-style: none;
    box-align: center;
}

ul li ul.sub5 {
    width: 250%;
    background: #483D8B;
    position: relative;
    display: none;
    accent-color: white;

}

ul li:hover ul.sub5 {
    display: block;
    color: white;
}

h2 {
    font-family: Verdana;
}

.grid-container2 {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgb(44, 45, 102);
    width: 100%;
    height: 200px;
    font-family: Verdana;
    list-style: none;


}


.grid-item2 ul li {
    list-style: none;
    margin-top: 5px;

}

.grid-item2 {
    display: flex;
    justify-content: right;
    padding: 10px;


}

.grid-container3 {
    gap: 10px;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgb(44, 45, 102);
    width: 100%;
    padding-block-start: 15px;

}

.grid-item3 {
    display: inline-grid;
    margin-top: 0px;
}

.grid-container3 p {
    font-size: 10px;
}

.contact {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.grid-item2 ul {
    font-size: 17px;
    color: white;
    font-family: arial;
}

.grid-item2 li {
    font-size: 13px;
    color: white;
}